* {
	text-align:center;
	font-family:courier, "courier new";
	text-size-adjust: 200px ;
	margin: 0;
    padding:0;
}

body {
	background-color:rgba(39, 45, 49, 0.26);
	background-repeat: repeat-x;
}

.a{
	text-align:center;
}

#teste{
	height: 1500px;
	background-image: url(image/backgroud.png);

}

#texto {
	position: absolute;
	margin-top: -30px;
}